GH_TOKEN=

GPG_KEY_ID=
GPG_PASSPHRASE=

APPLE_ID=
APPLE_APP_SPECIFIC_PASSWORD=
APPLE_TEAM_ID=


# Defaults are usually fine. Increase for slow connections.
# GH_REQUEST_TIMEOUT_MS=30000
# GH_REQUEST_RETRIES=3
# GH_REQUEST_RETRY_DELAY_MS=1500

AFTER_PACK_LOC=

# ROSI_SMOKE_TIMEOUT_MS=120000
